@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300&family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300&family=Roboto:wght@300&family=Spline+Sans+Mono:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
html{
    scroll-behavior: smooth;
}
section{
    height: 500px;
    
    border: solid  black 1px;
}
.header{
   /* background: #211f26;*/
    height: 100vh;
    color: white;
    font-size: 22px;
}
footer{
    background: rgb(87, 84, 84);
    height: 500px;
}
div.blank-nav-div{
    width:55%;
}
nav{
    display: flex;
    
}
ul{
    display: flex;
    list-style: none;
    justify-content: space-around;
    width: 40%;
}
ul li{
    
    text-align: center;
    padding: 50px 0 0 0 ;
    text-decoration: none;
}
nav ul li a{
    text-decoration: none;
    /*scroll-behavior: smooth;*/
    color: white;
}
nav ul li a:hover , a:active{
    color: coral;
}
.intro{
    width: 70%;
    margin: auto;
    text-align: center;
    padding: 160px 0 0 0 ;
}
.intro h1{
    font-size: 4rem;
    font-family:'Spline Sans Mono', monospace;
    
}
.btn{
    width: 180px;
    padding: 10px;
    background: coral;
    color: white;
    font-size:1.2rem;
    font-style: bold;
    border-radius: 10px;
    margin: 70px 0 0 0 ;
    cursor: pointer;
    text-align: center;
    border: white;
}
.btn:hover{
    background: #ef744b;
}
.btn:active{
    background: darkgrey;
}
div.social-icons{
    width: 70%;
    margin: 10px auto;

}
div.social-icons ul{
    margin: auto;
}
div.social-icons ul li{
   
}
svg{
    fill: white;
}
svg:hover , svg:active{
    fill: rgb(91, 231, 250);
}
nav::before{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background:url('bg1.jpg') no-repeat center/cover;
    z-index: -1;
    opacity: 0.9;
    top: 0;
    
    
}

/*Responsive*/

@media only screen and (max-width:800px)
{
    .intro h1{
        font-size: 2rem;
    }
    div.intro{
        width: 100%;
        padding:50px 0 0 0;
        

    }
    div.blank-nav-div{
        width: 0;
    }
    
    nav ul{
        display: block;
        margin: auto;
        width: 100%;
        
    }
    nav ul li{
        padding:10px 15px;
        background: #494848;
        border-bottom: solid 1px #211f26;
        text-align: left;
        font-size: 1rem;
        

    }
    .btn{
        width: 120px;
        padding: 5px;
        margin: 50px 0 0 0;

    }
    svg{
        width:30px;
        height: 30px;
    }
    div.social-icons ul a li{

        padding: 50px 20px 0 20px ;
        

   
    }
    div.social-icons{
        width: 70%;
        margin: auto;
    
    }
    .intro{
        width: 50%;
    }


}